.QuizListContainer{
margin: 64px auto;
width: 65%;
height: 25%;
background-color: white;
text-align: center;
border: 1px solid;
border-radius: 6px;
box-shadow: 0 1px 6px, 0 1px 12px white;
}

.QuizList{
width: 90%;
height: 90%;
padding: 20px;
}

#QuizTitle{
  font-size: 80px;
  text-align: left;
  color: grey;
  width: 50%;
}


#QuizLink{
  text-align: right;
}
