.QuizListContainer{
margin: 64px auto;
width: 20%;
height: 12%;
background-color: ;
text-align: center;
border: 0.25px solid;
border-radius: 6px;
box-shadow: 0 1px 6px, 0 1px 12px white;
opacity: 0.9;
}
.QuizList{
width: 90%;
height: 90%;
padding: 20px;
opacity: 0.9;
}
.QuizTitle {
  font-size: 80px;
  font-family: 'VT323', monospace;
  color: #F159FF;
  width: 100%;
}
.QuizLink{
}
