[class*='col-'] {
  float: left;
}

#titleForm{
  padding: 10px 35px 10px 35px;
  text-align: center;
  width: 100%;
}

.grid{
  width: 100%;
}

.col-2-3{
  font-size: 15px;
  width: 66.66%;
}
.col-1-3{
  width: 33.33%;
  font-size: 15px;
}
form{
  text-align: center;
  padding: 25px;
}

ul{
  list-style-type: none;
}
input{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
button {
  background: #F159FF;
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
  border-radius: 30px;
}

h2{
  text-align: center;
}
.Titles{
  font-family:'VT323', monospace;
  color: #F159FF;
  font-size: 32px;
}
